@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=DM+Mono:wght@300&family=DM+Sans:wght@700&display=swap');

*, :root {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'DM Mono', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
  a:hover {
    box-shadow: 10px 10px 5px #3838385f;
      transform: translate(-0.1rem, -0.1rem);
  }
  a:active {
    transform: scale(0.99);
  }

body {
  margin: 0;
  padding: 0;
  background-image: 
    linear-gradient(#FFD65A 0.25rem, transparent 0.25rem), 
    linear-gradient(90deg, #FFD65A 0.25rem, transparent 0.25rem);
  background-color: #FFE591;
  background-size: 5rem 5rem;
}

.title {
  font-family: 'Bungee Shade', cursive;
  color: #3B4C60;
  border: 0.5rem solid #3B4C60;
  margin: 0.6rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 2.5rem;
  background-color: #FCFCFC;
  line-height: 4rem;
}

.card-list {
  margin: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); 
  gap: 1rem;
}

.card-drag-handle:hover{
  cursor: move;
}

.controls {
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow: auto;
  align-items:flex-end;
  text-align: center;
}

/* Sorting */
.bars {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
  text-align: center;
}

/* Input */
.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  justify-content: center;
  text-align: center;
}

.input-row {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.icon {
  padding-right: 0.5rem;
}

.label {
  font-family: 'DM Mono', monospace;

}

/* Button Input */
.button-input {
  padding: 0 1rem;
  font-family: 'DM Sans', sans-serif;
  height: 2rem;
}

.button-input:hover {
  cursor: pointer;
}

/* Text Input */
.text-input {
  width: 95%;
  font-size: 1rem;
  flex-grow: 1;
  border: 0.3rem solid #3B4C60;
  outline: none;
  font-family: 'DM Mono', monospace;
  color: #3B4C60;
  padding: 0 1rem;
}

/* Slider Input */
.slider-input {
  -webkit-appearance: none;
  width: 95%;
  height: 1.5rem;
  background: #FFF;
  flex-grow: 1;
  border: 0.3rem solid #3B4C60;
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1.5rem;
  background: #F6EDE4;
  border: 0.3rem solid #3B4C60;
  cursor: pointer;
  border-radius: 0;
}

.slider-input::-moz-range-thumb {
  width: 1rem;
  height: 1.5rem;
  background: #F6EDE4;
  border: 0.3rem solid #3B4C60;
  cursor: pointer;
  border-radius: 0;
}

.text-input {
  padding: 0.1rem;
  flex-grow: 1;
}